<!-- menu starts-->
<div class="menu-container navbar-dark">
    <div class="menu-pic">
        <img src="/pics/main.png" class="pic">
    </div>
    <div class="container">
        {{#if loggedIn}}
            <p class="navbar-text hello">Belépve, mint {{user.username}}!</p>
        {{/if}}
        <div class="navbar-brand title">Szakdolgozat</div>
        <ul class="nav navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/">Főoldal</a></li>
            {{#if notLoggedIn}}
                <li class="nav-item"><a class="nav-link" href="./registration">Regisztráció</a></li>
                <li class="nav-item"><a class="nav-link" href="./login">Bejelentkezés</a></li>
            {{/if}}
            <li class="nav-item"><a class="nav-link" href="./game">Játék</a></li>
            <li class="nav-item active"><a class="nav-link" href="/rules">Játékszabályok</a></li>
            {{#if loggedIn}}
                <li class="nav-item"><a class="nav-link" href="./highscore">Eredmények</a></li>
                <li class="nav-item"><a class="nav-link" href="./logout">Kijelentkezés</a></li>
            {{/if}}
        </ul>
    </div>
</div>
<!--menu ends-->
<div class="main-text">
    <div class="rule-container">

            <p>
                A Játék egy egyszerű, kétszemélyes, pontgyűjtögetős
                arénaharc, mely a <i>THREE.js</i> által nyújtott
                grafikai lehetőségeket hivatott bemutatni.<br>
                <br>
                <u>A játék menete:</u><br>
                Minden regisztrált felhasználónak lehetősége van új
                játékot kezdeni a "Játék" menügombra kattintva, amivel a játékos
                máris a játéktér közepébe csöppenhet.<br>
                Ilyenkor ez a látvány fogadja:<br>

            <div class="rule-pics"><img src="/pics/front/arena_empty.jpg"></div>
            <br>
            A tényleges játék azonban csak a második játékos csatlakozásakor
            kezdődik, amikor is megjelennek a játékhoz szükséges kellékek: Az <b>időzítő</b>,
            a gyűjtögethető <b>pont-érmék</b> és a <b>csapdák</b>.<br>

            <div class="rule-pics"><img src="/pics/front/arena_full.jpg"></div>
            <br>

            Az <b><u>időzítő</u></b> a kör végéig hátralévő
            idő jelzésére szolgál:<br>

            <div class="rule-pics"><img src="/pics/front/timer.jpg"></div>
            <br>
            Az <b><u>érmék</u></b> fejenként +10 pontot érnek, a játékos az
            érméken való áthaladással gyűjtheti össze azokat.<br>

            <div class=" rule-pics"><img src="/pics/front/coin.jpg"></div>
            <br>
            A <b><u>csapda</u></b> a játékos mozgását nehezíti. A csapdán való
            áthaladás -50 pontot ér.<br>

            <div class=" rule-pics"><img src="/pics/front/trap.jpg"></div>
            <br>
            <u>A cél:</u><br>
            Az idő lejárta előtt összegyűjteni a legtöbb pontot.<br>
            <br>
            Az érmék és csapdák helyzete véletlenszerű, a pályán
            egyszerre mindig csak 10 érme és 20 csapda van.
            <br>
            <br>
            Ha a játék véget ért, a program győztest hírdet, majd
            előtűnik egy újrakezdést felkínáló "újra" gomb, melyre
            rákattintva a játékos újabb kört kezdeményezhet.<br>
        
        
            <div class=" rule-pics"><img src="/pics/front/again.jpg"></div>
            <br>
            Ha mindkét játékos rákattintott az "újra" gombra, akkor új kör
            kezdődik.<br>
            </p>

    </div>
</div>
<script src='js/main.js'></script>