<!-- menu starts-->
<div class="menu-container navbar-dark">
    <div class="menu-pic">
        <img src="/pics/main.png" class="pic">
    </div>
    <div class="container">
        {{#if loggedIn}}
            <p class="navbar-text hello">Bel&eacutepve, mint {{user.username}}!</p>
        {{/if}}
        <div class="navbar-brand title">Szakdolgozat</div>
        <ul class="nav navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/">F&otildeoldal</a></li>
            {{#if notLoggedIn}}
                <li class="nav-item"><a class="nav-link" href="./registration">Regisztr&aacuteci&oacute</a></li>
                <li class="nav-item"><a class="nav-link" href="./login">Bejelentkez&eacutes</a></li>
            {{/if}}
            <li class="nav-item"><a class="nav-link" href="./game">J&aacutet&eacutek</a></li>
            <li class="nav-item"><a class="nav-link" href="/rules">J&aacutet&eacutekszab&aacutelyok</a></li>
            {{#if loggedIn}}
                <li class="nav-item active"><a class="nav-link" href="./highscore">Eredm&eacutenyek</a></li>
                <li class="nav-item"><a class="nav-link" href="./logout">Kijelentkez&eacutes</a></li>
            {{/if}}
        </ul>
    </div>
</div>
<!--menu ends-->
<div class="main-text">
    {{#if loggedIn}}
        <div class="reg-title">
            <h1>Legjobb eredm&eacutenyek</h1>
        </div>
        <div class="best-point-show">
            Legjobb eredm&eacutenyed: {{highscore}}
        </div>
    {{else}}
        Bejelentkez&eacutes sz&uumlks&eacuteges!
    {{/if}}

</div>
<script src='js/main.js'></script>