<!-- menu starts-->
<div class="menu-container navbar-dark">
    <div class="menu-pic">
        <img src="/pics/main.png" class="pic">
    </div>
    <div class="container">
        {{#if loggedIn}}
            <p class="navbar-text hello">Belépve, mint {{user.username}}!</p>
        {{/if}}
        <div class="navbar-brand title">Szakdolgozat</div>
        <ul class="nav navbar-nav">
            <li class="nav-item active"><a class="nav-link" href="/">Főoldal</a></li>
            {{#if notLoggedIn}}
                <li class="nav-item"><a class="nav-link" href="./registration">Regisztráció</a></li>
                <li class="nav-item"><a class="nav-link" href="./login">Bejelentkezés</a></li>
            {{/if}}
            <li class="nav-item"><a class="nav-link" href="./game">Játék</a></li>
            <li class="nav-item"><a class="nav-link" href="/rules">Játékszabályok</a></li>
            {{#if loggedIn}}
                <li class="nav-item"><a class="nav-link" href="./highscore">Eredmények</a></li>
                <li class="nav-item"><a class="nav-link" href="./logout">Kijelentkezés</a></li>
            {{/if}}
        </ul>
    </div>
</div>
<!--menu ends-->
<div class="main-text">
    {{#each validationSuccess}}
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{this}}
        </div>
    {{/each}}
    <div class="welcome">
        Üdvözöllek az oldalon!<br>
        <br>
        Ez az alkalmazás a szakdolgozatom, mely egy böngészőből futtatható, háromdimenziós többjátékos játék. <br>
        Az applikációval a 3D-s grafika és a webes-technológiák ötvözését kívánom bemutatni.<br>
        
        <br>
        <i>A játékhoz előzetes regisztráció szükséges!</i><br>
        <br>
        Kellemes időtöltést kívánok!<br>
        <br>

    </div>
    <div class="author"><b><i>Balázs András</i></b></div>
</div>
<script src='js/main.js'></script>
