<!-- menu starts-->
<div class="menu-container navbar-dark">
    <div class="menu-pic">
        <img src="/pics/main.png" class="pic">
    </div>
    <div class="container">
        {{#if loggedIn}}
            <p class="navbar-text hello">Bel&eacutepve, mint {{user.username}}!</p>
        {{/if}}
        <div class="navbar-brand title">Szakdolgozat</div>
        <ul class="nav navbar-nav">
            <li class="nav-item active"><a class="nav-link" href="/">F&otildeoldal</a></li>
            {{#if notLoggedIn}}
                <li class="nav-item"><a class="nav-link" href="./registration">Regisztr&aacuteci&oacute</a></li>
                <li class="nav-item"><a class="nav-link" href="./login">Bejelentkez&eacutes</a></li>
            {{/if}}
            <li class="nav-item"><a class="nav-link" href="./game">J&aacutet&eacutek</a></li>
            {{#if loggedIn}}
                <li class="nav-item"><a class="nav-link" href="./logout">Kijelentkez&eacutes</a></li>
            {{/if}}
        </ul>
    </div>
</div>
<!--menu ends-->
<div class="main-text">
    {{#each validationSuccess}}
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{this}}
        </div>
    {{/each}}
    <p>
        Lorem ipsum dolor sit amet, ea nec numquam accusam detracto. Choro aliquip vim at. Ex delenit mediocrem est.
        Aeterno voluptua has ei. Eos an dolore viderer. Cu pro iuvaret nonumes commune.

        Eu sed torquatos argumentum. Ad audire pericula mel. Scaevola assueverit te pro. Vim at dicat etiam scaevola, ad
        quidam expetendis eam.

        Ut vix nonumes deserunt, duo ut mundi decore, vel ut agam augue oporteat. No impedit expetenda vel, cum in
        nullam putant euismod. Vel petentium neglegentur ea. Vix at falli sonet, mel ludus aliquid accusata at. Omittam
        delectus consulatu pri ea.

        Eu ceteros adipiscing mel. Ridens delenit aliquando his an, quo ubique omittam deserunt ut. Eum alii suas everti
        et, pro in porro similique accommodare. Mel at impedit posidonium, at pro quaestio recteque adversarium.

        Vim ne vidisse apeirian mediocrem, eos odio errem dolores ad. Elit ceteros in sed. Mel ea rebum expetenda, at
        minimum efficiendi nec. An dicunt recusabo dignissim duo, ex facilis oporteat mei. Ius dolorem mediocrem
        hendrerit at. Labore impetus ea qui.
    </p>
</div>
<script src='js/main.js'></script>
