<!doctype html>
<html>
<head>
    <meta charset="ISO-8859-2">

    <script src="/socket.io/socket.io.js"></script>
    <!--<script type="text/javascript" src="/js/socket.io.js"></script>-->
    <script src="js/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/template.css">

    <title>Three JS szakdolgozat</title>



    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

</head>
<body>
{{{body}}}
</body>
</html>