.menu-container {
    top: 0px;
    background-color: black;
}

.menu-container > .menu-pic {
    margin: auto;
}

.menu-container > .menu-pic > .pic {
    display: block;
    margin: auto;
}
.menu-container > .container > .hello{
    font-size: 18px;
    color: #bfbfbf;
}

.menu-container > .container > .title {
    color: #800000;
}

.menu-container > .container > .navbar-nav > .nav-item > .nav-link {
    color: #bfbfbf;
}

.menu-container > .container > .navbar-nav > .nav-item > .nav-link:hover {
    background-color: #4d4d4d;
}

.menu-container > .container > .navbar-nav > .active {
    background-color: #4d0000;
}

.menu-container > .container {
    padding-left: 200px;
}

.main-text {
    margin: 30px;
}

.main-text > .reg-title {
    margin: auto;
    text-align: center;
}

.main-text > .form-horizontal > fieldset {
    margin-top: 20px;
}

.main-text > .form-horizontal > fieldset >.form-group {
    display: block;
    width: 500px;
    margin: auto;
    margin-top: 10px;
}

.main-text > .form-horizontal > fieldset > .field-container {
    display: block;
    width: 500px;
    margin: auto;
    margin-top: 10px;
}

.main-text > .form-horizontal > fieldset > .username {
    display: inline-block;
    margin-right: 10px;
}

.main-text > .form-horizontal > fieldset > .email {
    display: inline-block;
    margin-right: 76px;
}

.main-text > .form-horizontal > fieldset >  .pwd {
    display: inline-block;
    margin-right: 74px;
}

.main-text > .form-horizontal > fieldset >  .pwda {
    display: inline-block;
    margin-right: 33px;
}

.main-text > .form-horizontal > fieldset > .input-fields {
    display: inline-block;
    width: 300px;
}

.main-text > .form-horizontal > fieldset > .button-container {
    display: block;
    margin-top: 20px;
    text-align: center;
}

.need-log-in{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}